.table {
  --bs-table-bg: #{$table-bg};
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #{$table-striped-color};
  --bs-table-striped-bg: #{$table-striped-bg};
  --bs-table-active-color: #{$table-active-color};
  --bs-table-active-bg: #{$table-active-bg};
  --bs-table-hover-color: #{$table-hover-color};
  --bs-table-hover-bg: #{$table-hover-bg};
} 

nav {

  color: rgb(0, 0, 0) !important;
  background: #f5f5f5;  /* fallback for old browsers */
 
}

.navbar-dark .navbar-nav .nav-link {
color: rgb(0, 0, 0) !important;
}

header{
  color: #fff;

}

#about {
background-color: rgb(0, 0, 0) !important;
background: linear-gradient(to right, #d7d2cc 0%, #32373a 100%) !important;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}
section p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;

}
button {
  border-radius: 10px !important;
  margin: 1px !important;
  background-color: #b8b88f !important;
  color: #fff !important;
}

#hero {
  background: #181717;  /* fallback for old browsers */
  background: linear-gradient(to left, #dad7d4 0%, #555b5f 100%) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}
#about {
  background: #0b0b0b;  /* fallback for old browsers */

}
#hero .col {
  justify-content: center; 
  flex-direction: column;
  display: flex;
}
#hero .img-col {
  justify-content: flex-end; 
  margin-top: 100px;
}
#hero img {
  max-width: 130% !important;
  width: 130%;
}
#hero .card {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
}
#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;

}

footer {
  background: #f5f5f5;  /* fallback for old browsers */
  
}
